<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    The above 3 meta tags *must* come first in the head; any other head
    content must come *after* these tags
  -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:500">
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="stylesheet" href="/static/css/hack.css">
  <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
</head>
<body>

  <div id="app" v-cloak>

  <table class="table table-striped table-hover table-condensed" id="board">

    <colgroup width="*"></colgroup>
    <colgroup width="25%"></colgroup>
    <colgroup width="10%"></colgroup>
    <colgroup width="25%"></colgroup>

    <thead>
    <tr>
      <th class="td-group-1">{{ title }}</th>
      <th class="td-group-2">When</th>
      <th class="td-group-3">Players</th>
      <th class="td-group-4">Winner</th>
    </tr>
    </thead>
{% raw %}
    <tbody>

      <tr v-for="(match, index) in matches" v-bind:data-match="index">
        <td class="td-group-1">
          <a v-bind:href="match.game_url" target="_blank">
            {{ match.game_title }}
          </a>
        </td>
        <td class="td-group-2">
          {{ moment(match.start_time).fromNow() }} @
          {{ moment(match.start_time).format('ddd HH:mm') }}
        </td>
        <td class="td-group-3">
          <a href="#" v-on:click.prevent="showMatchPlayerModal">
            {{ split(match.players_registered, ';').length }}
            of
            ({{ match.players_min }}-{{ match.players_max }})
          </a>
        </td>
        <td class="td-group-4">
          <a href="#" v-if="canPickWinner(match)"
                      v-on:click.prevent="showMatchWinnerDialog">
            {{ match.winner || 'Who won?' }}
          </a>
          <span v-else>---</span>
        </td>
      </tr>

    </tbody>
  </table>

  <div id="footer">
    <a href="#" data-toggle="modal" data-target="#addMatchModal">
      Add new match...
    </a>
  </div>


  <play-modal title="Add Match" id="addMatchModal"
              size="large"
              accept="Add Match" dismiss="Cancel"
              v-on:accept="addMatch">
  
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <select class="form-control" id="selPreviousGames"
              v-on:input="selectGame">
            <option v-for="(game, index) in games" v-bind:value="index">
              {{ game.game_title }}
              ({{ game.players_min }}-{{ game.players_max }}👤,
              <template v-if="game.play_time_max">
                 {{ game.play_time_min }}-{{ game.play_time_max }}
              </template>
              <template v-else>
                {{ game.play_time_min }}
              </template>
              min 🕑)
            </option>
          </select>
        </div>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <hr>

    <div class="row">
      <div class="col-lg-6">
        
        <div class="form-group">
          <input type="text" class="form-control" id="txtMatchGameTitle"
            title="Game Title"
            placeholder="Game Title">
        </div>

        <div class="form-group">
          <p>
            <small>
              Paste BoardGameGeek URL to auto-fill form
            </small>
          </p>
          <div class="input-group">
            <input type="text" class="form-control" id="txtMatchGameUrl"
              title="Game URL"
              placeholder="Game URL"
              v-on:input="lookupUrl">
            <span class="input-group-addon">🔗</span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <div class="form-group">
              <div class="input-group">
                <input type="number" class="form-control" id="txtMatchGameTime"
                  title="Game Time in Minutes"
                  placeholder="Game Time in Minutes">
                <span class="input-group-addon">🕑</span>
              </div>
            </div>

          </div>
          <div class="col-lg-6">

            <div class="form-group">
              <div class="input-group">
                <input type="number" class="form-control" id="txtMatchGameTimeMax"
                  title="Max Time in Minutes"
                  placeholder="Max Time in Minutes">
                <span class="input-group-addon">🕣</span>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <div class="form-group">
              <div class="input-group">
                <input type="number" class="form-control" id="txtMatchMinPlayers"
                  title="Minimum Players"
                  placeholder="Minimum Players">
                <span class="input-group-addon">👤</span>
              </div>
            </div>

          </div>
          <div class="col-lg-6">

            <div class="form-group">
              <div class="input-group">
                <input type="number" class="form-control" id="txtMatchMaxPlayers"
                  title="Maximum Players"
                  placeholder="Maximum Players">
                <span class="input-group-addon">👥</span>
              </div>
            </div>

          </div>
        </div>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
        <div id="dateTimeMatch"></div>
      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->

  </play-modal>


  <play-modal title="Match Players" id="editMatchPlayersModal"
              size="small"
              accept="Save" dismiss="Cancel" v-on:accept="saveMatchPlayers">
    <table class="table table-striped">
      <colgroup width="*"></colgroup>
      <colgroup width="10%"></colgroup>
      <tfoot>
        <tr>
          <td>
            <div class="form-group">
              <input type="text" class="form-control"
                     placeholder="Add new player"
                     v-bind:disabled="canAddPlayer"
                     v-on:keyup.enter="addPlayer">
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-primary"
                    v-bind:disabled="canAddPlayer"
                    v-on:click="addPlayer">
              Add
            </button>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr v-for="(player, index) in players">
          <td>{{ player }}</td>
          <td>
            <a href="#" v-on:click.prevent="removePlayer(index)">
              Remove
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </play-modal>


  <play-modal title="Match Winner" id="editMatchWinnerModal"
              size="small"
              accept="Save" dismiss="Cancel" v-on:accept="saveMatchWinner">
    <table class="table table-striped">
      <colgroup width="*"></colgroup>
      <colgroup width="10%"></colgroup>
      <tbody>
        <tr v-for="(player, index) in players">
          <td>
            {{ player }}
            <template v-if="pickedWinner && pickedWinner == player">
              ⭐
            </template>
          </td>
          <td>
            <a href="#" v-on:click.prevent="pickWinner(player)">
              Winner
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </play-modal>

  </div> <!-- #app -->


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/moment-with-locales.js"></script>
  <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/app.js"></script>

{% endraw %}

</body>
</html>
