body {
  /* font-size: 30px; */
  padding-top: 0px;
  zoom: 250%;
  overflow: hidden;
}


td a {
  display: block;
}


.modal {
  zoom: 65%;
}

.modal .modal-content {
  background: #2a2a2b !important;
}

.modal .modal-header {
  border-bottom-color: #1a1a1b !important;
}

.modal .modal-footer {
  border-top-color: #1a1a1b !important;
}

.modal-open {
    padding-right: 0px !important;
}


.input-group-addon {
  background: #000;
  color: #eee;
}


#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #2a2a2b; */
  background: #222223;
  padding: 5px;
  border-top: 2px solid #1a1a1b;
}
