body {
  /* font-size: 30px; */
  padding-top: 0px;
  zoom: 250%;
}


td a {
  display: block;
}


.modal {
  zoom: 65%;
}

.modal .modal-content {
  background: #2a2a2b !important;
}

.modal .modal-header {
  border-bottom-color: #1a1a1b !important;
}

.modal .modal-footer {
  border-top-color: #1a1a1b !important;
}
